@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.counter {
    width: calc(100%-120px);
    margin: auto;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;

}

body {
    background-color: white;
    height: 7658px;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    box-shadow: 0px 6px 10px 4px #0000001A;

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo img {
    width: 30px;
}

header.logo a {
    color: #545BE8;
    font-family: 'Roboto', sans-serif;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

header nav ul li .home {
    font-weight: 800;
}

header nav ul li a {
    color: #101928;
    font-family: 'Poppins', sans-serif;

}

header .auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

header .auth a {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header .auth .login {
    border: 2px solid #545BE8;
    color: #545BE8;
}

header .auth .reg,
.se1 .word .reg {
    background-color: #545BE8;
    color: white;

}

.se1 {
    height: 600px;
    padding-top: 159px;
    background-color: white;
    position: relative;
}

.se1 .counter {
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.se1 .word {
    width: 400px;
}

.se1 .pos {
    position: absolute;
    top: 143px;
    left: 163px;
    color: #545BE8;
    font-family: 'Inter', sans-serif;

}

.se1 .pos .be {
    font-weight: 800;
}

.se1 .word h2 {
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    line-height: 60px;
    color: #141E32;

}

.se1 .word .cour {
    color: #545BE8;
}

.se1 .word p {
    color: #969696;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.se1 .inpyt {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.se1 .inpyt .reg {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    font-size: 14px;

}

.se1 .inpyt .playimg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.se1 .playimg img {
    width: 24px;

}

.se1 .playimg a {
    padding-left: 4px;
    color: #141E32;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.se1 .cuimg {
    overflow: hidden;
}

.se1 .cuimg img {
    width: 400px;
    height: 400px;
}


.se2 {
    height: 390px;
    position: relative;
    overflow: hidden;
}

.se2 .counter {
    width: 92%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 126px;
}

.se2 .pos2 {
    position: absolute;
    top: 28px;
    left: 172px;
    color: #545BE8;
    font-weight: 500;
    font-family: 'Inter', sans-serif;

}

.se2 .word {
    width: 319px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.se2 .word h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 38px;
    color: #141E32;
}

.se2 .word p {
    color: #969696;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.se2 .cou_get1,
.cou_get2,
.cou_get3 {
    height: 250px;
    width: 250px;
    background-color: #545BE8;
    border-radius: 7px;

}

.se2 img {
    width: 73px;
    padding-bottom: 2px;
    padding-top: 28px;
    padding-left: 20px;

}


.se2 .cou_get1 h3,
.cou_get2 h3,
.cou_get3 h3 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding: 12px;
    color: white;
    padding-left: 28px;
    padding-bottom: 2px;

}

.se2 .cou_get1 p,
.cou_get2 p,
.cou_get3 p {
    width: 210px;
    height: 36px;
    color: #DDDDDD;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 7px;
    padding-left: 9px;
}

.se2 .pos3 {
    position: absolute;
    bottom: 4px;
    right: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.se2 .pos3 img {
    width: 60px;
}

.se3 {
    height: 520px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, #545BE8 0%, #272DB0 100%);
}

.se3 .counter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.se3 .photo {
    margin-right: 248px;
}
.se3 .photo img  {
    width: 400px;
    height: 500px;

}
.se3 .selectedco{
    position: relative;
    margin-left: 0;
}
.se3 .pos4 {
    position: absolute;
    top: -50px;
    color: #F0C932;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
     
}
.se3 .word_co h2 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}
.se3 .word_co p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #DDDDDD;
    width: 300px;
    margin-left: 0;
    margin-top: 10px;


}
.se3 .list2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 75px;
}
.se3 .list2 .pepole ,.view , .cour{
   margin: 0;
}
.se3 .list2 h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #F0C932;
    text-align: center;
}
.se3 .list2 h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #DDDDDD;
    font-weight: 400;
    text-align: center;;
}